aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
beautifulsoup4==4.14.2
bidict==0.23.1
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
cmake==4.1.0
colorama==0.4.6
comtypes==1.4.12
dlib==20.0.0
dnspython==2.8.0
eventlet==0.40.3
face_recognition @ git+https://github.com/ageitgey/face_recognition.git@2e2dccea9dd0ce730c8d464d0f67c6eebb40c9d1
face_recognition_models==0.3.0
Flask==2.3.3
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.0.5
frozenlist==1.7.0
greenlet==3.2.4
h11==0.16.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
MouseInfo==0.1.3
multidict==6.6.4
numpy==2.2.6
opencv-python==4.12.0.88
pillow==11.3.0
propcache==0.3.2
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
PyMsgBox==2.0.1
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
python-dotenv==1.1.1
python-engineio==4.12.2
python-socketio==5.13.0
pyttsx3==2.99
pytweening==1.2.0
pywhatkit==5.4
requests==2.32.5
simple-websocket==1.1.0
soupsieve==2.8
SQLAlchemy==2.0.43
telepot==12.7
typing_extensions==4.15.0
urllib3==2.5.0
Werkzeug==3.1.3
wikipedia==1.4.0
wsproto==1.2.0
yarl==1.20.1


